.expert-new-part {
    padding: 2.5rem;
    width: 100%;
    
}

/* Section heading styling */
.expert-part-heading {
    color: #333333;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Inter';
    position: relative;
    font-weight: 700;
}


.expert-part-host-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

/* Host image container */
.expert-part-image-container {
    flex: 0 0 180px;
    position: relative;
}


.expert-part-host-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    display: block;
}

/* Host details section */
.expert-part-host-details {
    flex: 1;
}

.expert-part-host-name {
    color: #333333;
    font-size: 1.6rem;
    font-family: 'Inter';
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.line-through{
    background-color: #e7e6e6;
    width: 100%;
    height: 1px;
}

.expert-part-host-role {
    color: #900;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.expert-part-host-bio {
    color: #555555;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 1.3rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .expert-part-host-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .expert-part-image-container {
        margin-bottom: 1.5rem;
    }
}